<div class="gradient"></div>
<header>
  <div class="container">
    <div class="inner">
      <ul class="personal-nav">
        <li><a href="/" class="active">Health</a></li>
      </ul>
    </div>
  </div>
</header>
